<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="check_up_money.Settings.SettingsConfiguration, check-up-money, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true"/>
  </configSections>
  <startup>
    <supportedRuntime version="v5.0" sku=".NET,Version=v5" />
  </startup>
  <!-- periodicNotificationDelayInMinutes   - задержка напоминаний в минутах -->
  <!-- balloonTipTimePeriodInSeconds        - длительность 1-го напоминания в секундах -->
  <!-- archiveBackupDir                     - копия архива с обработанными файлами -->
  <!-- loggerBackupDir                      - копия логов -->
  <!-- startInTray                          - запуск программы в свернутом режиме -->
  <!-- directoryStatusCheckerTimeout        - таймер проверки состояния директорий -->
  <!-- maxiumCopyRetries                    - максимальное количество попыток чтения (копирования) -->
  <!-- copyTimeoutInSec                     - максимальное время ожидания в секундах для доступа к чтению (копированию) файла -->
  <!-- watcherBufferSizeInKb                - размер буфера для System File Watcher -->
  <!-- windowLocation                       - позиция окна -->
  <!-- windowSize                           - размер окна -->
  <settings periodicNotificationDelayInMinutes="1" balloonTipTimePeriodInSeconds="5" 
            fileBackup="false" archiveBackupDir="C:\Projects\gu-check-up-money\TestDir\archiveBackup" 
            mainDb="localhost"
            loggerBackupDir="C:\Projects\gu-check-up-money\TestDir\loggerBackup" 
            startInTray="false" isFileHandlerEnabled="true"
            directoryStatusCheckerTimeout="10"
            maxiumCopyRetries="10" copyTimeoutInSec="10" watcherBufferSizeInKb="65536"
            windowLocation="{X=536,Y=358}" windowSize="{Width=1120, Height=334}">
    <!-- Включённые бюджеты -->
    <budgetSettings>
      <bs budget="rep"   enabled="true"/>
      <bs budget="obl"   enabled="true"/>
      <bs budget="city"  enabled="true"/>
      <bs budget="reg"   enabled="true"/>
      <bs budget="uni"   enabled="true"/>
      <bs budget="ext"   enabled="true"/>
    </budgetSettings>
    <!-- Работа с валютой -->
    <currencySettings>
      <cs budget="rep"   enabled="true"/>
      <cs budget="obl"   enabled="true"/>
      <cs budget="city"  enabled="true"/>
      <cs budget="reg"   enabled="true"/>
      <cs budget="uni"   enabled="true"/>
      <cs budget="ext"   enabled="true"/>
    </currencySettings>
    <!-- Обработка квитанций -->
    <ticketSettings>
      <ts type="repBankTicket"  enabled="true"/>
      <ts type="oblBankTicket"  enabled="true"/>
      <ts type="cityBankTicket" enabled="true"/>
      <ts type="regBankTicket"  enabled="true"/>
      <ts type="uniBankTicket"  enabled="true"/>
      <ts type="extBankTicket"  enabled="true"/>
    </ticketSettings>
    <!-- Проверка неотправленных файлов -->
    <!-- checkDelayInSeconds                  - задержка для проверки -->
    <unsentFilesSettings checkDelayInSeconds="30">
      <us budget="rep"  enabled="true"/>
      <us budget="obl"  enabled="true"/>
      <us budget="city" enabled="true"/>
      <us budget="reg"  enabled="true"/>
      <us budget="uni"  enabled="true"/>
      <us budget="ext"  enabled="true"/>
    </unsentFilesSettings>
	  <!-- Реквизиты баз данных -->
    <dataBaseSettings>
      <ds driver="SQL Server" host="localhost" instance="K2" db="CheckUpMoney"
        user=""
        password=""
        pSalt="" />
	<ds driver="SQL Server" host="localhost" instance="K2" db="CheckUpMoney"
		user=""
		password=""
		pSalt="" />
	<ds driver="SQL Server" host="localhost" instance="K2" db="CheckUpMoney"
        user=""
        password=""
        pSalt="" />
	<ds driver="SQL Server" host="localhost" instance="K2" db="CheckUpMoney"
        user=""
        password=""
        pSalt="" />
	<ds driver="SQL Server" host="localhost" instance="K2" db="CheckUpMoney"
        user=""
        password=""
        pSalt="" />
	<ds driver="SQL Server" host="localhost" instance="K2" db="CheckUpMoney"
        user=""
        password=""
        pSalt="" />
	<ds driver="SQL Server" host="localhost" instance="K2" db="CheckUpMoney"
        user=""
        password=""
        pSalt="" />
    </dataBaseSettings>
    <!-- Основные -->
	  <!-- Директории бюджетов, банков \\g600-srmail\BANK \\g600-srvm\CLIENT -->
    <pathSettings>
      <!-- Каталоги выгрузки с LT на клиент-банк -->
      <ps pathType="repIn"              value="\\g600-srdocs\USERDOCS\IT\Skoibeda\!!!\Test_1"/>
      <ps pathType="oblIn"              value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\MainIn\oblPath"/>
      <ps pathType="cityIn"             value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\MainIn\cityPath"/>
      <ps pathType="regIn"              value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\MainIn\regPath"/>
      <ps pathType="uniIn"              value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\MainIn\uniPath"/>
      <ps pathType="extIn"              value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\MainIn\extPath"/>
      <!-- Пачки для клиент-банка -->
      <ps pathType="repBankMainOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMain\repPath"/>
      <ps pathType="oblBankMainOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMain\oblPath"/>
      <ps pathType="cityBankMainOut" value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMain\cityPath"/>
      <ps pathType="regBankMainOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMain\regPath"/>
      <ps pathType="uniBankMainOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMain\uniPath"/>
      <ps pathType="extBankMainOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMain\extPath"/>
      <!-- Файлы свободного формата для клиент-банка -->
      <ps pathType="repBankMiscOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMisc\repPath"/>
      <ps pathType="oblBankMiscOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMisc\oblPath"/>
      <ps pathType="cityBankMiscOut" value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMisc\cityPath"/>
      <ps pathType="regBankMiscOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMisc\regPath"/>
      <ps pathType="uniBankMiscOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMisc\uniPath"/>
      <ps pathType="extBankMiscOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMisc\extPath"/>
      <!-- In-квитанции клиент-банка -->
      <ps pathType="repBankTicketIn"       value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketIn\repPath"/>
      <ps pathType="oblBankTicketIn"       value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketIn\oblPath"/>
      <ps pathType="cityBankTicketIn"      value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketIn\cityPath"/>
      <ps pathType="regBankTicketIn"       value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketIn\regPath"/>
      <ps pathType="uniBankTicketIn"       value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketIn\uniPath"/>
      <ps pathType="extBankTicketIn"       value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketIn\extPath"/>
      <!-- Out-квитанции клиент-банка -->
      <ps pathType="repBankTicketOut"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOut\repPath"/>
      <ps pathType="oblBankTicketOut"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOut\oblPath"/>
      <ps pathType="cityBankTicketOut"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOut\cityPath"/>
      <ps pathType="regBankTicketOut"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOut\regPath"/>
      <ps pathType="uniBankTicketOut"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOut\uniPath"/>
      <ps pathType="extBankTicketOut"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOut\extPath"/>
      <!-- Пачки для клиент-банка в валюте -->
      <ps pathType="repBankMainOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMainCurrency\repPath"/>
      <ps pathType="oblBankMainOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMainCurrency\oblPath"/>
      <ps pathType="cityBankMainOutCurrency" value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMainCurrency\cityPath"/>
      <ps pathType="regBankMainOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMainCurrency\regPath"/>
      <ps pathType="uniBankMainOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMainCurrency\uniPath"/>
      <ps pathType="extBankMainOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMainCurrency\extPath"/>
      <!-- Файлы свободного формата для клиент-банка в валюте -->
      <ps pathType="repBankMiscOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMiscCurrency\repPath"/>
      <ps pathType="oblBankMiscOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMiscCurrency\oblPath"/>
      <ps pathType="cityBankMiscOutCurrency" value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMiscCurrency\cityPath"/>
      <ps pathType="regBankMiscOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMiscCurrency\regPath"/>
      <ps pathType="uniBankMiscOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMiscCurrency\uniPath"/>
      <ps pathType="extBankMiscOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbMiscCurrency\extPath"/>
      <!-- Out-квитанции клиент-банка в валюте -->
      <ps pathType="repBankTicketOutCurrency"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOutCurrency\repPath"/>
      <ps pathType="oblBankTicketOutCurrency"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOutCurrency\oblPath"/>
      <ps pathType="cityBankTicketOutCurrency"  value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOutCurrency\cityPath"/>
      <ps pathType="regBankTicketOutCurrency"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOutCurrency\regPath"/>
      <ps pathType="uniBankTicketOutCurrency"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOutCurrency\uniPath"/>
      <ps pathType="extBankTicketOutCurrency"   value="C:\Projects\gu-check-up-money\TestDir\WatcherTest\CbTicketOutCurrency\extPath"/>
    </pathSettings>
  </settings>
</configuration>