<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="check_up_money.Settings.SettingsConfiguration, check-up-money, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true"/>
  </configSections>
  <startup>
    <supportedRuntime version="v5.0" sku=".NET,Version=v5" />
  </startup>
  <!-- periodicNotificationDelayInMinutes   - задержка напоминаний в минутах -->
  <!-- balloonTipTimePeriodInSeconds        - длительность 1-го напоминания в секундах -->
  <!-- archiveBackupDir                     - копия архива с обработанными файлами -->
  <!-- loggerBackupDir                      - копия логов -->
  <!-- startInTray                          - запуск программы в свернутом режиме -->
  <!-- directoryStatusCheckerTimeout        - таймер проверки состояния директорий -->
  <!-- maxiumCopyRetries                    - максимальное количество попыток чтения (копирования) -->
  <!-- copyTimeoutInSec                     - максимальное время ожидания в секундах для доступа к чтению (копированию) файла -->
  <!-- watcherBufferSizeInKb                - размер буфера для System File Watcher -->
  <!-- windowLocation                       - позиция окна -->
  <!-- windowSize                           - размер окна -->
  <settings loggerBackupDir="\\g600-srobl\Mail\CheckUpMoneyLogs"
    archiveBackupDir="C:\CheckUpMoneyRm\Archive2" fileBackup="false"
    periodicNotificationDelayInMinutes="1" balloonTipTimePeriodInSeconds="5"
    maxiumCopyRetries="10" copyTimeoutInSec="10" watcherBufferSizeInKb="65536"
    startInTray="false" directoryStatusCheckerTimeout="10" windowLocation="{X=522,Y=184}"
    windowSize="{Width=1093, Height=544}">
    <budgetSettings>
      <bs budget="rep" enabled="false" />
      <bs budget="obl" enabled="true" />
      <bs budget="city" enabled="false" />
      <bs budget="reg" enabled="false" />
      <bs budget="uni" enabled="false" />
      <bs budget="ext" enabled="false" />
    </budgetSettings>
    <ticketSettings>
      <ts type="repBankTicketOut" enabled="false" />
      <ts type="oblBankTicketOut" enabled="true" />
      <ts type="cityBankTicketOut" enabled="false" />
      <ts type="regBankTicketOut" enabled="false" />
      <ts type="uniBankTicketOut" enabled="false" />
      <ts type="extBankTicketOut" enabled="false" />
    </ticketSettings>
    <unsentFilesSettings checkDelayInSeconds="30">
      <us budget="rep" enabled="false" />
      <us budget="obl" enabled="true" />
      <us budget="city" enabled="false" />
      <us budget="reg" enabled="false" />
      <us budget="uni" enabled="false" />
      <us budget="ext" enabled="false" />
    </unsentFilesSettings>
    <dataBaseSettings>
      <ds driver="SQL Server" host="G600-SROBL" instance="K2" db="CheckUpMoney"
        user="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzfipjmsFpkytkIINLfp41QAAAAACAAAAAAADZgAAwAAAABAAAAD+y7io+t34JlW49OGVujCLAAAAAASAAACgAAAAEAAAADNXkjPO4oXS94UXSGjdBrYIAAAANb3sq2Mp+AoUAAAApEcolhOoHtdf3nt+G3LD2mr6VzE="
        password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzfipjmsFpkytkIINLfp41QAAAAACAAAAAAADZgAAwAAAABAAAADu1ESNm3+IHiTky4ctYpmrAAAAAASAAACgAAAAEAAAAACSd3td9Q/IRei6SAO/Hy8QAAAAJVmFslyvG+RVBvP5rad1HhQAAAD36MdNC+nbqho2k7+9svsvdybvWg=="
        uSalt="hRARvfqoWxgYy+ZwGOVnujbRmqFGDadcNvi1XxOTlq5G1iGGoyX6AV/eVdbyb5g7UIVsqNrm+cY8WNKk04qQCmIkELOY8uYP1d+3ab/hWEDl4I29BnOTGKtiDkCpqw0ai/zYK/aU0fyUpaJh0OIuM1tszttNKzkx+pjOKnbWbbOO2OHA4iPjUnBlS3MEXIqTq1cDOUseTgMlf3ydj9s+wXIME3MxjybjJbQLIa9nmkeLpOz/V1WWJzQbSEGAYaxU8LOLxIitlwbfu68UgUTDEtmuHNBO1ea6is5U2fbYncjP3vZunvT4mTqv3ooT/DRZe09jd3aKPOwi0lopgiAaQA=="
        pSalt="7h6UTu45nru2n85iqfssQJhJGAKUXxnFUREjaWVFQ8X8yTHQCoQ6liGP4IjL0bhV5NxpG6WLMvqUzDgMnraoSvD09GjBST2MjDYoiQ1ob+pSFtNC/69YVl7IWuupb0J/ARKVIc9ppWJQnHYG4oz8MF4p2F8w2+3rzC2+Z9P7gV5JDwFec7UwA3Gse1p5cqmgUbCF9++jv/ZVE8LcTr4E07Wfe0371+S6Lin/+wzcoOZroYaRzMaJpbt9kOvIYk7K5iKpwbl5+ZYehNHpxLbiwR/houQrvqH0KIskVNmp0yAyStB96xoPq2botPQ0ZvS7Ta8yqyLis8xKTv0Hq+Zo3g==" />
      <ds driver="SQL Server" host="G600-SRREP" instance="-" db="Rep"
        user="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAAB3xJ6w4IlssqAsZqErYXzkAAAAAASAAACgAAAAEAAAAGbjAqyTrZPvYuC6a8dVnhIIAAAAw9n4MppSOysUAAAA0qvq19uVdMEC96Dl/xCHu8afPUM="
        password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAAAIgPYzdBkW2mu4aQjWwIvxAAAAAASAAACgAAAAEAAAAOjW1Rh1ZMJSBWyEQ6BDYFkQAAAAoMmpR9iYSwbuTdyagSoJUhQAAAAGvEfs7jDRBzCLBxaFWwfctlLFVA=="
        uSalt="+aWJG4/L9zchqgu/3yEQU21q2pdD+DfaSFxYh4/qieA5caqwOPAeJZB1mwk0eTiAOofHCBfWa01TIcRqtYN9zF1j9nETh0XBvxPlWmxlcZ3df8CSzZYUUx1UVcHp6Qihip9lviRAXrovkNYNZyxNKoiWjoHN9LKUYykefmqMTBoeK3mcoNOaSmFZxnfs0uVhFen8K413D96huBpLaljCNeDCbmKoERP8cDZt/MkDa98reIZRa/8QuUjLWBGXqR0cJf3uZvpLa8ZoBiJl0GdfgfL9pfgjXdv2r62kHQiM9VnLhf2uVt7kT1t85Yr42iBFcpJqM/feamXvXjCpr75yXg=="
        pSalt="pDQMWTAWyz9vq3jO6TtSPvH0+mnZgCxYz8zCQgMcRtRL2CdwSEuq2Ng0NFvzy8cb7szQWL9uGr9RsH4y0w5BOtv1D2B7RaYjp+li4to7zSt9O5EToAs0YC2VqFlqn0qcuKgxZPNeLVtVcPqQEMbzQhaYRFJJRLfESGn6YPXHl5XbwlCks91LPzOvE0T3hu0w68r+aRj6yUYz8HPpxG7l5mamJ1vwFvn5tOzJfaUQNbEgLY5BP4picdCEqqyQRrKY+F//VKwRveA80Z2tMvpzvo+3DneTrRQkHNyNo/UiwsvvtUoiGHMHPJy5T6uHgrmvhapsr7AcexdmudQ1gX8XBA==" />
      <ds driver="SQL Server" host="G600-SROBL" instance="K2" db="Obl"
        user="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAACHCoFQA0G/v1dfxywWxI2gAAAAAASAAACgAAAAEAAAACqMCqYMVANtdjnexkzRYc0IAAAAGcsIdWs2M+AUAAAAT87Ja9C4Y0xNm2FFldYTznGw67k="
        password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAAAZf7Nddfi4L59mHcIDpP4yAAAAAASAAACgAAAAEAAAAI0yKTGoOtqTYSBhlkCRZm4QAAAAsvCPkk4qE5Ep4xoL6tB4QRQAAAAeLZYfrTO/GF3t0MPnHfGwOScI8A=="
        uSalt="JnwvAjUCGUay3YFOjAiRj5bNxSZxucXpRMZ1RpIYGkAb7l/372zIzVrJd+Q5BfHZ+U/cno4Bxd4pHkTBc9nzDT4EOMyBJHCF5/1+d9M1wy1mZvYpydBNtBy8+lF4MpSbM2x6LPfvPiLVngS4ey3G5p2reivgVDeHJJjFtigkolkxt5TSEpRMHfRCf5zKp8yxQorfpRQMFVJHMywR1dS7OWHTsFVP1WybN0y5aTyAr9Y/j7kv//vB8N7F9h7kAWn33sdQ+vDQWR32oM5DO1Yn0naMtIa0hr5VPzfD1MqosVjcP9gbi44FXKAnTymkfcclIEhhPEe82Jb8QfwzIThDbA=="
        pSalt="Am3wQswLC6j0fnA36Mw+fUIMkmvHZXx//cI+Qfac3Wv4dcBKi/XBE3vV+Y5NEPErv4VmlT+oSDcuxrEHlQa6JZzHzNnvssU+HyOELWcacYjDXe7KqJ5pc3jR0sU0zHzDnuidDYcJWpOfOYInn8I1VMQMCTHwQYultVvZdWEul06qzrbiwdp/TXB1stLjN7O1YmWhjNuDGGcDlbfUhPa+rljBaYykttiX2gdkkM2CZxr0NyemQbsjYInaIxYKh1jhAia7sTS3jhLtau8ySm7GzR0SDEcRBn/IGhneERe27OA9rN/pAyGlWqXskI0k+Qqqqsqvz31VV0MQ9LQH3rYNMg==" />
      <ds driver="SQL Server" host="G600-SRREP" instance="-" db="Uni"
        user="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAACOdRoM5AnqmTmqgmMf58oCAAAAAASAAACgAAAAEAAAADXxGj6eN9THIZhntNXZC9UIAAAAzO8TTtjIlWwUAAAAG7b27lvJ8qwu2CwD7pdcxLth9Co="
        password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAADYs2D+CfGZwiKbhpokscuTAAAAAASAAACgAAAAEAAAAB9Lr45M5IBs59U7m+1AbM4QAAAAInTCAyAVgF0boj+tYFQdvRQAAAD5906FX2TJTr2YyyvU+F6N37051w=="
        uSalt="HGt/6wXTF7MIpSd9WjThZgVIKVaW7VX3f2NovCKjE5J0ba1BjCwvraG7WsjerJNXWokYnF/eMJoOnwLE+VZTzj/tFUvbElLwPC9XCDkiOYEMud4T+HduQHgu9frMWoLnP9rJ6TeF3XP4W3YFz/A+LtiwAy9NIuXh9G+H3gO+44m//0CysVuSNA5qGs6XuO/GmmuzF+8ViJBlxqZ9YcN/Todqn9nH3MaLfbrKGrMxF2j57GSlkalQ45rDKusvt80B84ckkNeIAYPFt2M7z/eEEvuxw9r4U3gvnx1fBLeZhYWp9Yc2b4hPVAFjNJQNsJUnfWlnWUf0ky7ibHo6CH+9RQ=="
        pSalt="Lkx08PY0DCeGDPRWUWRcyknePVGbmkU9mzTGmX7z8k3hcbBnUuhjPR53H9yQ8iwKETeD7Ga7LmROq6KTZKajL9WHnUoXfXnRzmmV/B4WFZMCgY9XsIAPhNEcOY+dmPJNMtVYOLZAAk6bj+Zswo6nmUy8zIzCozcvKhqSMlNZ0GleJbTwHG5C1CYLVT70xwYYzKOheHTGbAovd5qCeL9YBvQhpNvXpoUg/gkvCmalTYUgFZ4ILeTACtyP5avUTQIhChjcGjMRsfHD5800rTl2u85h+WFgHu/TWEc8XNsBx26QycStJ0PSXI4vZAKmpXOZt87ixIR8qrCUCxOZiResbQ==" />
      <ds driver="SQL Server" host="G600-SRREP" instance="-" db="Vn"
        user="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAACVd5V0YSO1/lsfCDVOayoeAAAAAASAAACgAAAAEAAAANyF8mMWSF4AXzo3qFvAvDoIAAAACXcAVSori7QUAAAA2Kw66w+cHIIFXN6SACBB4Tx+o+8="
        password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAAC+z7Ji4v5Epz8/QmtqzQE1AAAAAASAAACgAAAAEAAAAD86Limfb6wJcgzc5lwxGkkQAAAAOwI1FYzHZmJ5C5qiHuwoIBQAAACb+zteV3mN17fLVSQU0BmRVJUNyw=="
        uSalt="0RoFrjb/wgUas5cdnyCDEwpPG4MVYvUwSxKOq0V5RxzBcfiCfMpZWdfSP8Ncl2NTQsv7gdm6QTp4bgVPKFO1DNCsDN1IiqLJjA08KnXfr3mE0SetZQHipn42Q4Tdenk0bnX25WuiQAJrPO06161Rrx2F9GFtx3iCaA3JzzRouDd2b4pacBk0MtEg/zfSElEyhshTPzLWlQSu0c1UN/TmMJB84ubnGYDOA1kLEvB1DrC1p9iy57CDONS6soACo084titGPK/RKsQzqqGbpSG8lTuK8qNm7iPYrmZ4zAORRuD/P/vwUsxgZ459vIxcPE5bCHjG3rkvyOZk2E3w4ZXt3A=="
        pSalt="tdrsuHn34RgO8Ne8pvcq3SIS3oxLb+zxzB1lYhV37L3sIL+YOgI7ekTRhhzzP0zlDCNKXQ7LRMhUjScCCTBZGkl45JBDVTNH0wdLH+sqG7L7+Bcm1cQcKTTAsSUhLBuQKOX7SKaDSzsx5uky8NYy8WGf5NKiGkIxywt8OPBG3O9taCSRRTmNMp/C9WYPNDecroL/lLhn8WRiSedkZox1Ab7DUuPVE1pyAUSWLsmP+HvSpqm9wL1DZkTYKjf6taLGIv6esCCx3zXEzDz5h1UjyINloPfk5xLtSNcVkk7zRHBoMH7VryafzcN6XcN9KMSIsPRunr65qbWtSjdQuZZIpw==" />
      <ds driver="SQL Server" host="G600-SRREG" instance="-" db="City"
        user="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAADDCptXcnmDUICQf7Y2pQGIAAAAAASAAACgAAAAEAAAAGLJi46snWAw3UNI+hllMkEIAAAA9Q+hdHriQSYUAAAAC/IkF56z5BiZUd3U+1RwOHp5P58="
        password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAAD37Ogf7GvfXSZGmGMDMqlrAAAAAASAAACgAAAAEAAAAK6WvapP7yhpOHyOQmx5yXYQAAAAPXHhXmaFD3PasLKPKcvbhBQAAAALqULRtpo5Z2V7wzChuCZrqEKvIQ=="
        uSalt="TNzIQQxyXP739BN+zLXALxuX/Ix0D458Bh/5UaGg65OrdF1pLMfwm56TEWh3JeX2G2DGerpHLf/Cw+uR/CS9/DItzU+sytBmLWve+hMDfIbukzqdtFmPof1lYGq9r5XIit88IFQ2s8TjF47n7palR/Kj4vGX3a+aXCKgIIwiEkwpkEVADK0TRybhxKWWn+V4sLl1dZOIxoZuRlFgkV5aEA14mRQsfdG80si5uxCG2qAD0e4ccGOVBN9PhYjR4BIU9cri9K+avXFybtcOVWCASDr7DmMF8LN4L2bVYzO7WoVh4ua8nDO4DBabJ2cH8sMrZaPLQB8OHwux7lcJ+nJXtA=="
        pSalt="H5LkPBDw1IeRUNufDPhyoJxje1cLPOysS7mxfwOYnPTjMtdvLWDiUl4BVsdytbMRAwc+3WpoRa/4xPEjl4xYvLqX899G448198AW4MmRQatzdHuf4JKyPBQf6rQMF085SfGY/2RBMfFC99ChNXx7LxR4teTaEmIpl3aW961yCYHAteoSHGd3iGoBUG074Sg86VOdViK7hvM5wpAbCmgHlDK4eoZoTmqsuMp3h2b+6teTJKzp1P8JG+t+U6+y+RyyRIBMml+pk3gn3tJpDs+HQkqH7Da9nZRebWNnDRYKdJuv2HkCrmNpj/CNZHU33XNO8J3KkKC2EYKrjE8IGpOsfg==" />
      <ds driver="SQL Server" host="G600-SRREG" instance="-" db="Reg"
        user="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAAAOt4kmbBtBtNQU368u/yxsAAAAAASAAACgAAAAEAAAAF6JII/YMP2Dl4hLPlTf3cQIAAAArbbYRYUuVAoUAAAAmZSnYNOu2ygsWwnxv5QrIAFzyQQ="
        password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARhLmpPL0y0KpWwLcvJT47QAAAAACAAAAAAADZgAAwAAAABAAAADIKcpoNTaIbclSBqjyv0hsAAAAAASAAACgAAAAEAAAABDMdBj8bV+trWcb0ZGwxQ8QAAAA6qGBLp6SXCVoZsVzegqgzxQAAABGEqSwuSgEDseHT+TSUdHZA+hTeQ=="
        uSalt="cbxSxKN/BaVXg6/Jvfve+dxfWau/y1/0P+9r0kAm7UEHJclBYydDr5HMoMFEXXeRXkGE4NL3E8iezzyMvAO8oKJa6CnPOs6XD9OzoLzlPw8c5oAMFSQTvl66canLvpB5wOZ2kb34libwF6OQBLjWyqUPhKu6NawJyYWPfiXnPKR8aSBmPY/djH/W3qd+mLyPshFPYnJZbTEjS/YUUV2inrsBdv/Q4shAF5NNGf08lRqANIQGrG7jjb/O8IvV4r1CCVoNC8cZ4dcJuVV+2/gijNyE6BCs6YgF2HzgnRblpd3/ismdR5oxKrLOmRuFCSh577ye2pxy+Pz0nYv0RyA3EQ=="
        pSalt="/kOrmUZZWcU72HH17t+DMIWHe3C8TCQ98B8IIwdFICQkevE1pQveEW4mFxQtniejvtmgzRGnyJbP6CbN7lD/VoD2utQyjc+KsBy5aKwk0cjYjoKV9ehTrdHRq5sDO26mFNDa9hkRyYNmoclya5r5B1cCiZT/n/UXjRBNCvXMtuAxUTz83fxhAQt8PIbM/SCaJnnn4dy5k5bnLp9As/Ib2EB4Y7gXw9+VGn9RdSj7i8LslxCvVhJHm29h9KpfEtA1f9mww2P4BGawaVUJYrIbLLHNa1R6mJkSNRTv6ERQn3H2Wmg6NvBHDI6A9TR/B3iWyh+3qhsmPthWYASlaLcFxg==" />
    </dataBaseSettings>
    <pathSettings>
      <ps pathType="repIn" value="\\g600-srmail\BANK\Rep" />
      <ps pathType="oblIn" value="\\g600-srmail\BANK\Obl" />
      <ps pathType="cityIn" value="\\g600-srmail\BANK\City" />
      <ps pathType="regIn" value="\\g600-srmail\BANK\Reg" />
      <ps pathType="uniIn" value="\\g600-srmail\BANK\Union" />
      <ps pathType="extIn" value="\\g600-srrep\mail\Vnmail\bankOut" />
      <ps pathType="clientBankMainOut" value="\\g600-srvm\CLIENT\2\Linkin3" />
      <ps pathType="clientBankMiscOut" value="\\g600-srvm\CLIENT\2\Txt3" />
      <ps pathType="repBankTicketOut" value="\\g600-srrep\MAIL\TKMail\BankIN" />
      <ps pathType="oblBankTicketOut" value="\\g600-srobl\MAIL\OFUMail\BankIN" />
      <ps pathType="cityBankTicketOut" value="\\g600-srreg\MAIL\CityMail\BankIN" />
      <ps pathType="regBankTicketOut" value="\\g600-srreg\MAIL\RegMail\BankIN" />
      <ps pathType="uniBankTicketOut" value="\\g600-srrep\MAIL\UniMail\BankIN" />
      <ps pathType="extBankTicketOut" value="\\g600-srrep\MAIL\VnMail\BankIN" />
      <ps pathType="bankTicketIn" value="\\g600-srvm\CLIENT\2\Linkout3" />
    </pathSettings>
  </settings>
</configuration>