<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

	<variable name="appName" value="check-up-money" />

	<targets async="true">
    <target xsi:type="file"
					name="CheckUpSession-logger-info"
					layout="${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
					fileName="${basedir}\Logs\CheckUpMain-logger-info.log"
					keepFileOpen="false"
					archiveFileName="${specialfolder:ApplicationData}\Logs\Archive\CheckUpMain-logger-info_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
            />
		<target xsi:type="file"
					name="CheckUpMain-logger-info"
					layout="${longdate} | ${message}"
					fileName="${basedir}\Logs\CheckUpMain-logger-info.log"
					keepFileOpen="false"
					archiveFileName="${specialfolder:ApplicationData}\Logs\Archive\CheckUpMain-logger-info_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
            />
    <target xsi:type="file"
					name="CheckUpMain-logger-debug"
					layout="${longdate} - ${pad:padding=-66:fixedlength=true:inner=${callsite}} | ${message}"
					fileName="${basedir}\Logs\CheckUpMain-logger-debug.log"
					keepFileOpen="false"
					archiveFileName="${specialfolder:ApplicationData}\Logs\Archive\CheckUpMain-logger-debug_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
          deleteOldFileOnStartup="true"
            />
		<target xsi:type="file"
					name="CheckUpCopy-logger-info"
					layout="${longdate} | ${message}"
					fileName="${basedir}\Logs\CheckUpCopy-logger-info.log"
					keepFileOpen="false"
					archiveFileName="${specialfolder:ApplicationData}\Logs\Archive\CheckUpCopy-logger-info_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
            />
		<target xsi:type="file"
					name="CheckUpError-logger-error"
					layout="${longdate}: [${callsite}] ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
					fileName="${basedir}\Logs\CheckUpError-logger-error.log"
					keepFileOpen="false"
					archiveFileName="${specialfolder:ApplicationData}\Logs\Archive\CheckUpError-logger-error_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
            />
	</targets>
	<rules>
    <logger name="CheckUpSession-logger-info" level="Info" writeTo="CheckUpSession-logger-info" />
		<logger name="CheckUpMain-logger-info" level="Info" writeTo="CheckUpMain-logger-info" />
    <logger name="CheckUpCopy-logger-info" level="Info" writeTo="CheckUpCopy-logger-info" />
    <logger name="CheckUpMain-logger-debug" level="Debug" writeTo="CheckUpMain-logger-debug" />
		<logger name="CheckUpError-logger-error" level="Error" writeTo="CheckUpError-logger-error" />
	</rules>
</nlog>